@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

a {
  color: #fff;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: 'Noto Sans Georgian', sans-serif;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.header__inner-top {
  display: flex;
  justify-content: space-between;
  padding: 10.5px 0;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

.header__info {
  align-items: center;
  display: flex;
  color: rgba(51, 51, 51, 0.8);
}

.header__info-adress {
  align-items: center;
  display: flex;
}

.header__info-adress-navigator {
  margin-right: 8px;
}

.header__info-adress-street div {
  margin-bottom: 4px;
}

.header__info-adress-street span {
  font-weight: 550;
}

.header__info-adress::after {
  content: "";
  display: block;
  width: 1px;
  height: 50px;
  background-color: rgba(51, 51, 51, 0.1);
  margin-left: 55px;
  margin-right: 20px;
}

.header__info-time {
  display: flex;
}

.header__info-time-watch {
  margin-right: 8px;
}

.header__info-time-chart div {
  margin-bottom: 4px;
}

.header__info-time-chart span {
  font-weight: 550;
}

.header__phone {
  align-items: center;
  display: flex;
  color: rgba(51, 51, 51, 0.8);
}

.header__phone-img {
  margin-right: 8px;
}

.header__phone-mobile div {
  margin-bottom: 4px;
}

.header__phone-mobile a {
  color: rgba(51, 51, 51, 0.8);
  font-weight: 550;
}

.header__inner-bottom {
  display: flex;
  align-items: center;
  padding: 18px 0;
  justify-content: space-between;
  position: relative;
}

.header__logo {
  position: relative;
  left: -10px;
}

.header__menu-list {
  display: flex;
}

.header__menu-list li {
  margin-right: 46px;
}

.header__menu-list li:nth-child(2) {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__menu-list a {
  color: #333333;
  font-weight: 550;
  font-size: 16px;
}

.header__button {
  padding: 10px 23px;
  background-color: #4762FF;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: white;
  letter-spacing: 0.3px;
  font-size: 16px;
  padding: 12px 23px;
}

.main__top-inner {
  padding-top: 62px;
  padding-bottom: 270px;
  position: relative;
}

.main__top-title {
  font-weight: 700;
  font-size: 60px;
  color: #333333;
  margin-bottom: 16px;
  position: relative;
  z-index: 2;
}

.main__top-text {
  font-size: 18px;
  color: rgba(51, 51, 51, 0.8);
  margin-bottom: 32px;
}

.main__top-button {
  padding: 10px 23px;
  background-color: #4762FF;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: white;
  display: inline-block;
  padding: 11px 39px;
  font-size: 18px;
  line-height: 30px;
}

.main__top-car {
  position: absolute;
  left: 440px;
  top: 0;
}

.main__body-inner {
  padding: 28px 32px 58px;
}

.main__body-title {
  font-weight: 700;
  font-size: 40px;
  color: #333333;
  text-align: center;
  margin-bottom: 18px;
}

.main__body-text {
  font-size: 18px;
  text-align: center;
  color: rgba(51, 51, 51, 0.8);
  margin-bottom: 48px;
}

.main__body-section-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
}

.main__body-section-block-spare {
  border-radius: 5px;
  border: 2px solid #333333;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  position: relative;
  padding: 25px 149.5px 113px 28px;
}

.main__body-section-block-spare .title {
  font-weight: 700;
  font-size: 24px;
  color: #333333;
  margin-bottom: 13px;
  max-width: 330px;
}

.main__body-section-block-spare p {
  font-size: 16px;
  color: rgba(51, 51, 51, 0.8);
  width: 222px;
  width: 250px;
}

.main__body-section-block-spare-img {
  position: absolute;
  left: 311px;
  top: 23px;
}

.main__body-section-block-spare-img img {
  height: 230px;
}

.main__body-section-block-wash {
  border-radius: 5px;
  border: 2px solid #333333;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  position: relative;
  padding: 25px 200px 113px 28px;
}

.main__body-section-block-wash .title {
  font-weight: 700;
  font-size: 24px;
  color: #333333;
  margin-bottom: 13px;
  max-width: 276px;
}

.main__body-section-block-wash p {
  font-size: 16px;
  color: rgba(51, 51, 51, 0.8);
  width: 222px;
  width: 215px;
}

.main__body-section-block-wash-img {
  position: absolute;
  left: 255px;
  top: 67px;
}

.main__body-section-block-wash-img img {
  height: 150px;
}

.main__body-section-block2 {
  display: flex;
  justify-content: space-between;
}

.main__body-section-block2-shop {
  border-radius: 5px;
  border: 2px solid #333333;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  position: relative;
  padding: 25px 272px 113px 28px;
}

.main__body-section-block2-shop .title {
  font-weight: 700;
  font-size: 24px;
  color: #333333;
  margin-bottom: 13px;
  max-width: 157px;
}

.main__body-section-block2-shop p {
  font-size: 16px;
  color: rgba(51, 51, 51, 0.8);
  width: 222px;
  width: 215px;
}

.main__body-section-block2-shop-img {
  position: absolute;
  left: 258px;
  top: 50px;
}

.main__body-section-block2-shop-img img {
  height: 200px;
}

.main__body-section-block2-oil {
  border-radius: 5px;
  border: 2px solid #333333;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  position: relative;
  padding: 25px 223px 113px 28px;
}

.main__body-section-block2-oil .title {
  font-weight: 700;
  font-size: 24px;
  color: #333333;
  margin-bottom: 13px;
  max-width: 258px;
}

.main__body-section-block2-oil p {
  font-size: 16px;
  color: rgba(51, 51, 51, 0.8);
  width: 222px;
}

.main__body-section-block2-oil-img {
  position: absolute;
  left: 280px;
  top: 85px;
}

.main__lower-inner {
  display: flex;
  padding: 67px 0;
}

.main__lower-info {
  margin-right: 70px;
}

.main__lower-info h2 {
  font-weight: 700;
  font-size: 48px;
  color: #333333;
  width: 540px;
  margin-bottom: 20px;
}

.main__lower-info p {
  font-size: 18px;
  color: rgba(51, 51, 51, 0.8);
  width: 566px;
  margin-bottom: 23px;
}

.main__lower-info p:last-child {
  margin-bottom: 0px;
}

.main__lower-brand1 {
  display: flex;
}

.main__lower-brand1 div:first-child {
  margin-right: 160px;
}

.main__lower-brand2 {
  text-align: center;
  margin-left: 50px;
}

.main__lower-brand3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__down {
  background-color: #F4F4F4;
  padding: 96px 0 203px;
}

.main__down-inner {
  display: flex;
  position: relative;
}

.main__down-info h2 {
  font-weight: 700;
  font-size: 48px;
  color: #333333;
  margin-bottom: 41px;
}

.main__down-info p {
  width: 566px;
  font-size: 18px;
  color: rgba(51, 51, 51, 0.8);
  margin-bottom: 23px;
}

.main__down-info p:last-child {
  margin-bottom: 0px;
}

.main__down-map {
  position: absolute;
  left: 632px;
  top: -95px;
}

.main__bottom {
  background-image: url("img/12.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 800px;
}

.main__bottom-inner {
  padding: 40px 71px;
  background-color: #fff;
  border-radius: 15px;
  width: 611px;
  position: relative;
  left: 500px;
  top: 140px;
}

.main__bottom-title {
  font-weight: 700;
  font-size: 56px;
  color: #333333;
  width: 285px;
  margin-bottom: 18px;
}

.main__bottom p {
  font-size: 18px;
  color: rgba(51, 51, 51, 0.8);
  width: 435px;
  margin-bottom: 35px;
}

.main__bottom-login input {
  background-color: rgba(71, 98, 255, 0.08);
  padding: 19px 0;
  padding-right: 256px;
  padding-left: 22px;
  border-radius: 5px;
  margin-bottom: 23px;
  font-size: 16px;
}

.main__bottom-tel input {
  background-color: rgba(71, 98, 255, 0.08);
  padding: 19px 0;
  padding-right: 256px;
  padding-left: 22px;
  border-radius: 5px;
  margin-bottom: 37px;
  font-size: 16px;
}

.main__bottom-button {
  padding: 10px 23px;
  background-color: #4762FF;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: white;
  padding: 22px 186px;
  display: inline-block;
}

.footer {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #1A1A1A;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.footer__logo {
  position: relative;
  left: -12px;
}

.footer__title {
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.footer__list {
  font-size: 16px;
}

.footer__list li {
  margin-bottom: 8px;
}

.footer__network img {
  margin-right: 9px;
}

.footer__network li {
  color: #FFFFFF;
}

.footer__inner::after {
  content: "";
  display: block;
  width: 1110px;
  height: 1px;
  background-color: #474747;
  margin: 0 auto;
  margin-top: 67px;
  margin-bottom: 18px;
}

.footer__copyright {
  font-size: 12px;
  color: #D9DBE1;
}

.footer .mobile_list li:nth-child(4) {
  margin-bottom: 19px;
}

.footer .mobile_list li:nth-child(5) {
  margin-bottom: 15px;
}

.footer .list-list {
  align-items: center;
}
/*# sourceMappingURL=style.css.map */